@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --text-color: #333;

    --font-family: "TikTokFont", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // Default layout cách add css: (var(<tên>, <giá trị mặc định>)
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;//cho phép cuộn.
}

//Scrollbar css.
html *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, .07);
}


button, input, [tabindex] {
    outline: none;
    border: none;
}

a[herf] {
    color: var(--text-color);
    text-decoration: none;
}

//Fonts embeded.
@font-face {
    font-family: var(--font-family);
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: var(--font-family);
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: var(--font-family);
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: var(--font-family);
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 800;
}

//css cho content của tippy.
.tippy-box {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;  
    padding: 4px;
    background-color: rgba(84, 84, 84, 0.92);
}

.tippy-content {    
    color: rgb(255, 255, 255);
}

.tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
}

/*
Mục đích của việc thiết lập font-size thành 62.5% và sử dụng font-size là 1.6rem trong thẻ body trong một dự án web là tạo ra một hệ thống đơn giản và dễ quản lý cho việc quản lý kích thước font chữ trên trang web. Cụ thể:

1. Dễ dàng chuyển đổi từ px sang rem: Bằng cách đặt font-size của thẻ body thành 62.5%, mỗi rem sẽ tương đương với 10px. Điều này làm cho việc chuyển đổi các giá trị kích thước font từ px sang rem trở nên đơn giản hơn, giúp làm cho mã nguồn dễ đọc và dễ quản lý hơn.

2. Đảm bảo tính đáng tin cậy trên nhiều thiết bị: Sử dụng rem thay vì px có thể giúp đảm bảo rằng kích thước font sẽ tỷ lệ tương đối với font-size của phần tử gốc trên mọi thiết bị, giúp trang web hiển thị đồng đều và chính xác trên các thiết bị và màn hình khác nhau.

3. Dễ quản lý và điều chỉnh: Bằng cách sử dụng rem và thiết lập font-size của phần tử gốc, bạn có thể dễ dàng điều chỉnh kích thước font cho toàn bộ trang web bằng cách chỉnh sửa một giá trị duy nhất.

4. Tính linh hoạt trong thiết kế đáp ứng: Việc sử dụng rem có thể giúp thiết kế đáp ứng trở nên linh hoạt hơn, vì các giá trị rem tự động thích ứng với font-size của phần tử gốc, giúp trang web tự động điều chỉnh kích thước font tùy thuộc vào kích thước màn hình và thiết bị.
*/