.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 4px 0px;
}

.back-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--white);
    font-size: 20px;
    padding: 6px 0px -6px 0px;
    cursor: pointer;

    &:hover {
        opacity: 0.3;
    }
}

.header-title {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0px;
    font-size: 20px;
    line-height: 21px;
    font-family: monospace;
    color: rgba(22, 24, 35, 0.8);
}