//main color

.wrapper {
    --search-height: 46px;
    --search-top-spacer: 8px;
    
    width: 100%;
    height: 100%;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.inner {
    height: 100%;
    width: 100%;
    padding: 12px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

.action {
    display: flex;
}

.action-menu{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 16px;

    &:hover {
        cursor: pointer;
    }
}

.action-menu-icon{
    width: 22px;
    height: 22px;
}

.action-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 0px 14px;
}

.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    background-color: var(--white);
    margin: 0px 14px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.action-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animation for icon */
.action-menu-icon {
    transition: transform 0.4s ease-in-out;
}
  
.action-menu:hover .action-menu-icon {
    transform: rotate(90deg); /* Or any transformation you prefer */
}



  

  